div {
    background-color: yellow;
    height: 20px;
    width: 20px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}

button {
    margin: 10px 0;
}

.grid {
    background-color: blue;
    height: 400px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.upcoming-grid {
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
}

.upcoming-shape {
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    background-color: blue;
}

.block2 {
    background-color: purple;
}

.block3 {
    background-color: green;
}